.btn-small {
  border: none;
  background: linear-gradient(90deg, #008374 0%, #89BA16 100%);
  padding: 10px 15px;
  background: #FF8F1F;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  transition: .4s; }

.heading-style {
  color: #495057;
  font-size: 2rem;
  font-weight: 700; }

.para-style {
  font-size: 20px;
  line-height: 25px;
  color: #adb5bd;
  text-align: left; }

.button-style {
  border: none;
  padding-bottom: 10px;
  background: none;
  position: relative;
  font-weight: bold;
  color: #495057; }

.button-style::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  transition: .4s;
  left: 0;
  bottom: 0;
  right: 0;
  background: #495057; }

.button-style:hover::after {
  width: 100%;
  height: 2px; }
