@media (max-width: 991px){

}

@media (max-width: 767px){

}
@media (max-width: 575px){
    .hero{
        .hero-heading{
            font-size: 30px !important;
        }
    }
    // footer top
    .footer-top{
        ul{
            display: flex;
            flex-direction: column;
        }
    }
}